.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nuevo estilo para las imágenes de productos */
.product-image {
  width: 100%;
  height: auto;
  max-width: 150px;
  max-height: 150px;
  object-fit: cover; /* Ajusta la imagen para que ocupe el espacio sin distorsionarse */
  border-radius: 8px; /* Bordes redondeados para un aspecto más agradable */
}

.product-image {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 150px; /* Altura fija */
  object-fit: contain; /* Mantiene la relación de aspecto sin recortar */
  border-radius: 8px;
}
